.header h1 {
    text-align: center;
    margin: 5px auto 0;
    font-family: "Josefin Sans", serif;
    color: var(--accent);
    font-size: 32px;
    text-shadow: 1px 1px 2px black;
}

.header h1 span#color-nuance {
    color: var(--primary);
}